<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <pipelines>
      <insertRenderings>
        <processor type="Sitecore.Analytics.Pipelines.InsertRenderings.Testing,Sitecore.Analytics"
               set:type="Sitecore.Support.Analytics.Pipelines.InsertRenderings.Testing,Sitecore.Support.187736"/>
      </insertRenderings>
    </pipelines>
    
  </sitecore>
</configuration>